# ===============================
# Virtual Environment (IMPORTANT)
# ===============================
venv/

# ===============================
# Python cache files
# ===============================
__pycache__/
*.pyc
*.pyo

# ===============================
# Django files
# ===============================
db.sqlite3
*.log

# ===============================
# Editor configuration
# ===============================
.vscode/
